<h3 class="display-5">последние 10 заказов на демонстрационный номер</h3>
<table class="table table-striped table-bordered table-sm">
        <thead>
          <tr>
            <th>#</th>
            <th>Время приёма</th>
            <th>Телефон</th>
            <th>Адрес подачи</th>
            <th>Время подачи</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders; let idx = index;">
            <th scope="row">{{idx + 1}}</th>
            <td>{{order.created}}</td>
            <td>{{order.phone}}</td>
            <td>{{order.addressFrom}}</td>
            <td>ближайшее</td>
          </tr>
        </tbody>
</table>